<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @massage.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @massage.content %>
</p>

<%= link_to 'Edit', edit_massage_path(@massage) %> |
<%= link_to 'Back', massages_path %>
